:root {
    --white: white;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.background {
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-background {
    background-color: var(--white);
}

.content {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.content h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
}

.section-site {
    min-height: 100vh;
}

aside h1 img {
    width: 10rem;
    height: auto;
    margin-left: 5rem;
    margin-top: 1rem;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--background);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--white);
    text-decoration: none;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background: #ED1A37;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.loader {
    width: 3rem;
    height: 3rem;
    position: relative;
    transform: rotate(45deg);
    margin-right: 5rem;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%, #0000 94%, #ED1A37);
    padding-right: 3rem;
}

.loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

strong {
    color: #ED1A37;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    padding: 1rem;
}

.intro .content {
    max-width: 50%;
    margin-left: 10%;
    margin-top: -30rem
}

.food { 
    right: 0px;
    position: absolute;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-flow: column wrap;
    max-width: 60rem;
    margin-left: 10rem;
    margin-top: 5rem;
    overflow: hidden;
}

.image-quality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-flow: column wrap;
    max-width: 60rem;
    margin-left: 10rem;
    margin-top: 30rem;
    padding-top: 150px; 

}

.text-content {
    max-width: 40%;
    margin-right: auto; 
    text-align: right; 
}

.image-container {
    max-width: 80%;
    margin-left: auto;
}

.quality h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 2rem;
}

.section-site .cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section-site .card {
    background-image: url(../assets/images/background.svg);
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 250px; 
    height: 350px;
}
#menu .card {
    margin: 0 1rem;
    margin-top: 15rem;
}

.section-site .card img {
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}


.section-site .card h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem 0;
    color: #ED1A37;
}

.section-site .card span {
    color: #ED1A37;
    font-size: 1.1rem;
    margin: 5px 0;
    text-align: center;
    margin-top: 1rem;
    display: block;
}

.section-site .card p {
    color: var(--white);
    font-size: 1rem;
    margin: 0.5rem 0;
}

.section-site .card button:hover {
    transform: scale(1.1);
}

.button-buy {
    appearance: button;
    background-color: #ED1A37;
    padding: 5px 10px;
    border: none;
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    margin-top: -5rem; 
}

.contact h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
}

.links-column ul {
    list-style: none;
    padding: 0;
}

.links-column ul li {
    margin: 0.5rem 0;
}

.links-column ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s; 
}

.links-column ul li a:hover {
    color: #ED1A37; 
}

.subscribe-column .subscribe-container {
    display: flex;
    align-items: center;
}

.subscribe-column input[type="email"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-right: 0.5rem;
    width: auto;
}

.subscribe-column button {
    background: #ED1A37;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.subscribe-column button:hover {
    transform: scale(1.1);
}

.hours-column p {
    font-size: 1.5rem; 
}

.contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.contact-column img {
    width: 50px;
    height: 50px;
}

.logo-column img {
    width: 100px;
    height: auto;
}