/* Global*/
:root {
    --white: white;
    --gray: #333;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.background {
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.gray-background {
    background-color: var(--gray);
}

.content {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.content h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
}

.section-site {
    min-height: 100vh;
}

strong {
    color: #ED1A37;
}

/*Menu Sidebar*/
.menu {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--background);
    background-color: var(--background);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap; 
}

aside h1 img {
    width: 8rem;
    height: auto;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding-left: 0;
    margin: 0;
}

.menu ul li {
    margin: 0 0.5rem;
}

.menu ul li a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--white);
    text-decoration: none;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background: #ED1A37;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.loader {
    width: 3rem;
    height: 3rem;
    position: relative;
    transform: rotate(45deg);
    margin-right: 5rem;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%, #0000 94%, #ED1A37);
    padding-right: 3rem;
}

.loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
    pointer-events: none;
}

@media (max-width: 768px) {
    aside h1 img {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .menu ul {
        flex-direction: column; 
        align-items: flex-start;
    }

    .menu ul li {
        margin: 0.5rem 0;
    }

    .menu ul li a {
        padding: 1rem;
        font-size: 1.4rem;
    }

    .loader {
        margin: 1rem auto;
    }
}

@keyframes pulse-ytk0dhmd {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

/*Section Intro*/
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    padding: 1rem;
}

.intro .content {
    max-width: 50%;
    margin-left: 10%;
    margin-top: -30rem;
}

.food { 
    right: 0px;
    position: absolute;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-flow: column wrap;
    max-width: 60rem;
    margin-left: 10rem;
    margin-top: 5rem;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .intro .content {
        max-width: 70%;
        margin-left: 0;
        margin-top: -15rem;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .intro .content {
        max-width: 90%;
        margin-left: 0;
        margin-top: -10rem;
    }

    .food {
        max-width: 80%;
        margin-left: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .intro .content {
        max-width: 100%;
        margin-top: -5rem;
    }

    .food {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
}

/*Section About*/
.image-about {
    height: auto;
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10rem;
    margin-top: 30rem;
    padding-top: 150px; 
}

.text-content {
    max-width: 40%;
    margin-right: auto; 
    text-align: right; 
}

.image-container {
    max-width: 80%;
    margin-left: auto;
}

.about h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 2rem;
}

/*Section Menu*/
.section-site .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.section-site .card {
    background-image: url(../assets/images/background.svg);
    border: 1px solid #000000;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(119, 119, 119, 0.5);
    padding: 10px;
    text-align: center;
    width: 250px; 
    height: auto;
}
#menu .card {
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    margin-top: 15rem;
}

.section-site .card img {
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}


.section-site .card h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem 0;
    color: #ED1A37;
}

.section-site .card span {
    color: #ED1A37;
    font-size: 1.1rem;
    margin: 5px 0;
    text-align: center;
    margin-top: 1rem;
    display: block;
}

.section-site .card p {
    color: var(--white);
    font-size: 1rem;
    margin: 0.5rem 0;
}

.section-site .card button:hover {
    transform: scale(1.1);
}

.button-buy {
    appearance: button;
    background-color: #ED1A37;
    padding: 5px 10px;
    border: none;
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
}

/*Section Information*/
.information { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    margin-top: -5rem; 
}

.information h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.information-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
}

.links-column ul {
    list-style: none;
    padding: 0;
}

.links-column ul li {
    margin: 0.5rem 0;
}

.links-column ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s; 
}

.links-column ul li a:hover {
    color: #ED1A37; 
}

.subscribe-column .subscribe-container {
    display: flex;
    align-items: center;
}

.subscribe-column input[type="email"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-right: 0.5rem;
    width: auto;
}

.subscribe-column button {
    background: #ED1A37;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.subscribe-column button:hover {
    transform: scale(1.1);
}

.hours-column p {
    font-size: 1.5rem; 
}

.information-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.information-column img {
    width: 50px;
    height: 50px;
}

.logo-column img {
    width: 100px;
    height: auto;
}

.subscribe-container input.error {
    border: 2px solid red;
}

/*Section Contact*/
#contact-form {
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px;
    max-width: 500px;
    margin: 150px auto 40px auto; 
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#contact-form h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 120px;
    color: #ED1A37;
}

#contact-form p {
    font-size: 0.8rem;
    margin-bottom: 30px;
    color: #ddd;
}

#contact-form .form-section {
    margin-bottom: 20px;
}

#contact-form h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #ED1A37;
    text-align: left;
}

#contact-form input[type="text"],
#contact-form input[type="tel"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#contact-form textarea {
    height: 60px;
    resize: none;
}

#contact-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-form .form-group select {
    width: 48%;
}

#contact-form input[type="radio"] {
    margin-right: 8px;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

#contact-form button[type="submit"] {
    background-color: #ED1A37;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 2px;
}

#contact-form button[type="submit"]:hover {
    background-color: #bf162d;
}

/*Modal*/
#promo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#promo-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

#promo-modal .modal-content p {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #333;
}

#promo-modal .modal-content button {
    background-color: #ED1A37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 10px;
}

#promo-modal .modal-content button.deny {
    background-color: #ddd;
    color: #333;
}

/*Footer*/
.footer {
    padding: 7rem 0;
    background-color: #222;
    text-align: center;
}

.footer-content p {
    color: #fff;
    font-size: 1.4rem;
}

/*Animations*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-animation {
    animation: pulse 1s infinite;
}

